@media screen and (max-width: 862px) {
    .left-top-border {
        width: 30%;
      }
      .right-top-border {
        width: 30%;
      }
      .left-bottom-border {
        width: 30%;
      }
      .right-bottom-border {
        width: 30%;
      }
      .responsive-photo {
        width: 70%;
      }
      .merch-wrapper {
        width: 80%;
      }
      .news-image {
        width: 40%;
      }
}
@media screen and (max-width: 550px) {
    h1 {
        font-size: 30px;
    }
    .links-container {
      justify-content: center;
    }
    body {
      font-size: 1.1rem;
    }
}
@media screen and (max-width: 399px) {
  .container {
    padding: unset;
  }
  .news-image {
    width: 50%;
  }
}